# rename to 'staging', uncomment the lines below, and add your own staging hostname or ip

#[owncloud]
#your_staging_hostname_or_ip

#[staging]
#your_staging_hostname_or_ip

#[staging_pull]
#your_staging_hostname_or_ip
