# Cron job to git clone/pull a repo and then run locally
{{ schedule }} {{ cron_user }} ansible-pull --directory {{ workdir }} --url {{ repo_url }} --checkout {{ repo_branch }} --force ansible/aws-backup.yml >> {{ logfile }} 2>&1
